# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Build folders inside src
!**/src/main/**/target/
!**/src/test/**/target/

# Kotlin
.kotlin/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# Mac OS
.DS_Store

# Logs
*.log

# Environment Variables
.env
.env.*

# Database Credentials (IMPORTANT)
src/main/resources/application.properties
application-local.properties

# OS Files
Thumbs.db
desktop.ini